<!-- HEADER section -->
<div class="topbar">
  <div class="container">
    <div class="row">
      <div class="col-sm-4 col-md-3 topbar-notification">
        {% if settings.header_slogan != blank %}
          <span class="topbar-notification__message slogan main-font">{{ settings.header_slogan }}</span>
        {% endif %}
      </div>
      <div class="col-sm-8 col-md-9 hidden-xs topbar-nav">
        <ul class="topbar-nav__items">
          
          {% if customer %}
            <li class="topbar-nav__item"><a href="/account" class="topbar-nav__link topbar-nav__link__account">{% include 'icon-user' %} My Account</a></li>
            {% comment %}<li class="topbar-nav__item"><a id="" href="" class="topbar-nav__link topbar-nav__link__wishlist">{% include 'icon-heart-o' %} My Wishlist</a></li>{% endcomment %}
          {% else %}
            <li class="topbar-nav__item"><a href="/account/login" class="topbar-nav__link topbar-nav__link__account">{% include 'icon-user' %} My Account</a></li>
            {% comment %}<li class="topbar-nav__item"><a id="" href="" class="topbar-nav__link topbar-nav__link__wishlist">{% include 'icon-heart-o' %} My Wishlist</a></li>{% endcomment %}
          {% endif %}
          
          {% if customer %}
            <li class="topbar-nav__item"><a href="/account/logout" class="topbar-nav__link topbar-nav__link__logout">{% include 'icon-lock' %} Log Out</a></li>
          {% else %}
            <li class="topbar-nav__item"><a href="/account/login" class="topbar-nav__link topbar-nav__link__login">{% include 'icon-lock' %} Log In</a></li>
          {% endif %}

          <li class="topbar-nav__item"><a href="/checkout" class="topbar-nav__link topbar-nav__link__checkout">{% include 'icon-check-circle-o' %} Checkout</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>

<header id="header" class="header-layout-07">
  <div class="container">
    <div class="row"> 					
      <div class="col-sm-4">
        <!-- logo start --> 
        <a href="/"><img class="logo img-responsive" src="{{ headerlogo }}" alt="logo"/></a> 
        <!-- logo end --> 
      </div>

      <div class="col-sm-7 text-center hidden-xs">
        <div class="search-outer">
          <form id="search__form" action="/search" method="get">
            <div class="input-outer">
              <input type="hidden" name="type" value="product" />
              <input type="text" name="q" id="search" value="" maxlength="128" placeholder="{{ 'general.search.place_holder' | t }}">
              <button type="submit" title="" class="icon icon-search"></button>
            </div>
          </form>
        </div>
      </div>

      <div class="pull-right col-sm-1 alignment-extra">
        {% include "menu-cart" %}
      </div>
    </div>
  </div>
  <div class="fill-bg stuck-nav">
    <div class="container">
      <div class="row">
        <div class="col-xs-4 col-sm-6 col-md-9 col-lg-8 col-stuck-menu">
          {% include "main-menu" %}
        </div>

        <div class="col-xs-8 col-sm-6 col-md-3 col-lg-4">
          <div class="search-outer">
            <form id="search__form" action="/search" method="get">
              <div class="input-outer">
                <input type="hidden" name="type" value="product" />
                <input type="text" name="q" id="search" value="" maxlength="128" placeholder="{{ 'general.search.place_holder' | t }}">
                <button type="submit" title="" class="icon icon-search"></button>
              </div>
            </form>
          </div>

          {% include "menu-cart" %}
        </div>
      </div>
    </div>
  </div>

</header>
<!-- End HEADER section -->